/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/certificados/1592410847.pdf
storage/certificados/1592411217.pdf
storage/certificados/1592411662.pdf
storage/certificados/1592416260.pdf
storage/certificados/1592418147.pdf
storage/certificados/1592418444.pdf
storage/certificados/1592426856.pdf
storage/certificados/1592426981.pdf
storage/certificados/1592427017.pdf
